:root{
    --red: ;
    --blue: ;
    --green: ;

}
.slidecontainer {
    width: 100%;
  }
  
  .slider:hover {
    opacity: 1;
  }
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 10%;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    cursor: pointer;
  }
  #r::-webkit-slider-thumb{
    background-color: rgb(var(--red),0,0);
  }

  #g::-webkit-slider-thumb{
    background-color: rgb(0,var(--green),0);
  }

  #b::-webkit-slider-thumb{
    background-color: rgb(0,0,var(--blue));
  }

#p{
background-color;white;
width:30px;
height:30px;}
